<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Cathy Cowell</h1>
      <p>Interdisciplanary Studies | Tufts 2019</p>
    </div>
    <div class="content">
      <p>
        Hi, I'm a student at <strong>Tufts University</strong>.
      </p>
      <p>
        I am studying blah blah blah, my intersts include blah blah
      </p>

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
