<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Cathy Cowell</h1>
      <p>Computer Science and Education | Tufts 2019</p>
    </div>
    <div class="content">
      <p>
        Hi, I'm a student at <strong>Tufts University</strong>.
      </p>
      <p>
        When I was little I thought that Santa Claus came into houses with no chimnies
        through the internet. While I now know that this doesn't make sense, I still
        beleive that computing technology allows for things that would have previously
        been considered magic to happen everyday. This is what draws me to C.S., where
        I want to create inspired technology for a hopeful future.
      </p>
      <p>
       I am passionate about educational equality and social justice issues, and am studying
       Education as a secondary major. I am currently seeking oppurtunities at the
       intersection of Education and Computer Science.
      </p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
