<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Projects</h1>
      <p>Not much here yet.</p>
    </div>

    <div class="container">
      <div class="general-container projects-container">
        <img src="/images/mbta.jpg"/>
        <div>
          <h3>MBTA</h3>
          <p>
            A web app that shows a map of all the MBTA red line train stations locates the closest stop to you.
            It also provides real time data on when the next train is arriving at each station.
          </p>
          <p class=smaller>
            Created with javascript and the MBTA and Google Maps APIs.
          </p>
          <a href="https://github.com/tuftsdev/comp20-ccowell/mbta" target="_blank"><span class="fa fa-github project-left-link"> Github</span></a>
      </div>
    </div>



  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
