<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Projects</h1>
      <p>Stuff I've been working on</p>
    </div>

    <div class="container">
      <div class="general-container projects-container">
        <img src="/images/mbta.jpg"/>
        <div>
          <h3>MBTA</h3>
          <p>
            A web app that shows a map of all the MBTA red line train stations locates the closest stop to you.
            It also provides real time data on when the next train is arriving at each station.
          </p>
          <p class=smaller>
            Created with javascript and the MBTA and Google Maps APIs.
          </p>
          <a href="https://github.com/cathyc96/comp20-ccowell/tree/master/mbta" target="_blank"><span class="fa fa-github project-left-link"> Github</span></a>
      </div>
    </div>

    <div class="container">
      <div class="general-container projects-container">
          <img src="/images/imgres.png"/>
        <div>
          <h3>2048</h3>
          <p>
            A web server that uses a modified version of Gabriele Cirulli's open source project
            and addictive game 2048 as a client. The server stores scores for each user
            in a MongoDB collection and displays them on an index page.
          </p>

          <a href="https://thawing-bastion-78418.herokuapp.com/" target="_blank"><span class="fa fa-link project-left-link"> Veiw on Heroku</span></a>

      </div>
    </div>

     <h3>In Progress</h3>

    <div class="container">
      <div class="general-container projects-container">
       <img src="/images/myGarden.png"/>
        <div>
          <h3>Grow Your Flower</h3>
          <p>
            A self care web app that encourages users to remember basic acts of
            self care such as drinking water, getting enough sleep, and eating
            balanced meals. As users document acts of self care, they can see
            a flower grow on their homepage and cultivate a virtual garden with
            a backround that reflects the current weather of the users location.
            A map of
            nearby users shows users how their friend's flowers are doing and
            allows users to send their friends messages.

          </p>
          <p class=smaller> Uses MySQL, Facebook API, Open Weather API, Google Maps API, Bootstrap, and D3.js
           </p>
         <a href="https://secure-plains-74726.herokuapp.com/" target="_blank"><span class="fa fa-link project-left-link"> Veiw on Heroku</span></a>

         <div class="container">
           <div class="general-container projects-container">
            <img src="/images/repro-health-image.jpeg"/>
             <div>
               <h3>Reproductive Health Care Inequality</h3>
               <p>
                A website discussing current topics in reproductive health inequality. Focus on the problems with arguments using taxpayer-savings arguments as justification for publicly funded family planning services.
               </p>
              <p><a href="https://calm-river-36257.herokuapp.com/" target="_blank"><span class="fa fa-link project-left-link"> Veiw on Heroku</span></a> </p>
              <a href="https://github.com/cathyc96/repro-health-inequality" target="_blank"><span class="fa fa-github project-left-link"> Github</span></a>



      </div>
    </div>


  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
