<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
   <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Resume</h1>
      <p></p>
    </div>

    <div class="container">
      <div class="general-container resume-container">
        <img src="/images/devtech.jpg"/>
        <div>
          <h3>DevTech Lab, Tufts University</h3>
          <h4>Research Assistant</h4>
          <h4>September 2017- present</h4>
          <p>
            The focus of our lab is promoting positive learning and development in children through technology. The research falls into several categories: theoretical contributions, design of new technologies, and empirical work with populations to test and evaluate the theory and technology.
          </p>
          <p>
            I am currently working on a project with VEX Robotics studying the role of gender in their middle school robotics programs, as well as a project assessing the usability of Scratch Jr., a project DevTech rolled out several years back.
          </p>
      </div>
    </div>

    <div class="container">
      <div class="general-container resume-container">
        <img src="/images/tufts_log.jpg"/>
        <div>
          <h3>Tufts University Department of Computer Science</h3>
          <h4>Teaching Assistant</h4>
          <h4>August 2016- present</h4>
          <p>
            Teaching assistant for a Data Structures, a second computer science course in C++. I assist in teaching labs, hold office hours to answer students' questions, and am responsible for grading students' projects and exams.
          </p>
      </div>
    </div>

    <div class="general-container resume-container">
      <img src="/images/tufts_log.jpg"/>
      <div>
        <h3>Tufts University Department of Residential Life and Learning</h3>
          <h4>Resident Assistant</h4>
          <h4>August 2016- Present</h4>
        <p>
          As an RA, I act as a resource to help students living in dorms adjust to life at college. I plan and host
          events and programs as well as oversee the dorm to ensure students’ safety and the building’s functionality
        </p>
      </div>
    </div>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
