<div class="container">
  <div class="general-container projects-container">
    <div>
      <h3>Gentrification and Grocery Stores in Boston's South End</h3>
      <p>
        A sociological research project investigating the relationship between local
        supermarkets and gentrifying communities.
      </p>
      <object width="1000" height="1000" data="/images/GentrificationandGroceryStores.pdf"></object>
  </div>
</div>
